
<app-header></app-header> <br>

  <div class="container">

    <div class="card">

      <div class="card-body"> <br><br>

        <h2 class="card-title">¡Compra, ahorra y gana!</h2>


       <img class="card-img-bottom" src="assets/imagen/mistery.jpg" style="width:100%; ">

       <div style="text-align: center">
        
        <a routerLink="/cliente" class="btn btn-outline-secondary btn-block botonInicio" >Registra tus datos y abre una caja</a>
      
      </div>
       


      </div>

    
    </div>

  </div>
  