  
    <app-header></app-header>

<div class="container">

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="clientenombre" placeholder="Nombre">
    </div>

    <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="clienteCarnet" placeholder="Carnet">
    </div>
    
    <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="clienteTelefono" placeholder="Telefono">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="clienteCorreo" placeholder="Correo Electronico">
    </div>

    <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="clienteFactura" placeholder="Factura">
    </div>

    <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="clienteMonto" placeholder="Monto Bs.">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="clienteCiudad" placeholder="Ciudad">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="crearCliente()" [disabled]="!clientenombre || !clienteCarnet || !clienteFactura || !clienteMonto">Crear</button>
    </div>


</div>